audio {
  vertical-align: top;
  margin-left: 10px;
  width: 100%;

}

.btn-medium {
  background-color: #B40404;
  margin-left: 10px;
}

.playlist-addall {
  background-color: #B40404;
}

.playlist-add {
  margin-left: 10px;
  cursor: pointer;
}


.collection .collection-item.avatar .title {
  vertical-align: top;
}

span.title, #help-playlist, .collection .collection-item.avatar .secondary-content, .playlist-add {
  color: #B40404;
}

.collection, .collection .collection-item {
  background-color: #FBEFEF;
}

h3 {
  font-size: 35px;
}

.collection-item p {
  font-size: 12px;
}

.collection .collection-item.avatar .title, .collection .collection-item.avatar .secondary-content, #help-playlist {
  font-size: 13px;
}

input#playlist-name, .playlist-item .input-field input{
  font-size: 16px;
}

.delete-icon, .collection .collection-item.avatar.track {
  cursor: pointer;
}

.collection {
  border-radius: 8px;
}

/* Album/playlist informations */

.playlist-description {
  margin: 20px;
}

.playlist-information {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  text-align: center;
}

.playlist-sub-information {
  margin: 20px auto;
}

img.responsive-img.playlist-img {
  margin: 20px auto;
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}

.playlist-link {
  width: 100%;
}

/* Tracks */

.collection .collection-item.avatar {
  min-height: 52px;
  padding-right: 40px;
}

.collection .collection-item.avatar .secondary-content.track-time {
  color: black;
  position: absolute;
  top: 10px;
  right: 16px;
}

.track-number {
  position: absolute;
  left: 30px;
}

.play-pause-icon {
  display: none;
  position: absolute;
  left: 22px;
}

.track-title {
  margin-right: 50px;
}


/* Playlist */

.playlist-item {
  padding: 0 20px;
}

.playlist-item .input-field {
  width: 50%;
  margin-right: calc(100% - (50% + 110px));
}

input#playlist-name {
  margin-top: 20px;
}

.tracks-list {
  min-height: 88px;
}

.autocomplete-wrapper {
  min-width: 220px;
}

#help-playlist {
  font-style: italic;
  text-align: center;
}

/* Tablettes */
@media screen and (min-width: 768px) {
  .playlist-information {
    flex-direction: row;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  input#playlist-name {
    font-size: 28px;
  }

  .collection-item p {
    font-size: 14px;
  }

  .playlist-item .input-field input {
    font-size: 20px;
  }

  #help-playlist {
    font-style: italic;
    font-size: 18px;
    text-align: center;
  }

  .collection .collection-item.avatar .title, .collection .collection-item.avatar .secondary-content {
    font-size: 16px;
  }
}
