.btn-medium {
  background-color: #B40404;
}

.playlist-information {
  display: flex;
  justify-content: space-around;
}

.responsive-img.playlist-img {
  margin: 20px 40px 20px auto;
  max-width: 400px;
  max-height: 400px;
}

.collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 10px;
  right: 16px;
}

.playlist-description {
  margin: 35px;
}

.track-number {
  position: absolute;
  left: 30px;
}

.collection {
  border-radius: 8px;
}

.collection, .collection .collection-item {
  background-color: #F8E0E0;
}

.collection.tracks-list .collection-item.avatar.track {
  cursor: pointer;
}

.collection .collection-item.avatar .secondary-content.track-time {
  color: black;
}

.play-pause-icon {
  display: none;
  position: absolute;
  left: 22px;
}

.playlist-sub-information {
  margin: 20px auto 20px 40px;
}

.collection-item.avatar.track {
  min-height: 50px;
}

.playlist-item {
  min-height: 80px;
}

.playlist-item .input-field {
  width: 60%;
  margin-right: 10px;
}

input#playlist-name {
  margin-top: 20px;
  font-size: 28px;
}

.playlist-item .input-field input {
  font-size: 20px;
}

.tracks-list {
  min-height: 88px;
}

.autocomplete-wrapper {
  min-width: 220px;
}

span.title, .secondary-content {
  color: #B40404;
}

#help-playlist {
  font-style: italic;
  font-size: 18px;
  text-align: center;
  color: #B40404;
}
@media screen and (max-width: 992px) {
  .responsive-img.playlist-img {
    max-width: 300px;
    max-height: 300px;
    margin: 20px auto;
  }

  .playlist-sub-information {
    margin: 0;
  }

  .collection-item.avatar.track {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .playlist-information {
    flex-direction: column-reverse;
    text-align: center;
  }

  .track-title {
    margin-right: 50px;
  }

  .collection .collection-item.avatar .title, .collection .collection-item.avatar .secondary-content {
    font-size: 13px;
  }

  li.collection-item.avatar.track {
    height: 50px;
  }
}

